
body{
    background: linear-gradient(to bottom right,rgb(67, 75, 148),rgb(255, 198, 43));
    height: 100vh;

}

form{
    display: flex;
    justify-content: center;
    align-items: center;
}
.card{
    margin-top: 80px;

}
.card-body{
    /* background: linear-gradient(to bottom right,rgb(67, 75, 148),rgb(255, 198, 43)); */
    background-color: white;
    padding-bottom: 6px;
}
.icon{
    margin-top: -30px;
}
.btn{
    margin-top: 10px;
}